# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Pit Fight.iml
# Datasource local storage ignored files
/../../../../../../../../:\kok\testISo\Pit Fight\Pit Fight\.idea\.idea.Pit Fight\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
